body{
    background-color: rgb(207, 205, 204);
}
h1{
    color: crimson;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;

}
p1{
    color: darkgoldenrod;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    
}
p2{
    color: darkgoldenrod;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    
}