body{
    background-color: aqua;

}
h1{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font: 300;
    animation: rotation 8s infinite linear;
    
}
img{
 margin-left: 35%;
}
.ma1{
    position: absolute;
    font: 300px;
    font-weight: bold;
    color: brown;
    margin-left: 62%;
    top:17%
}
.ma2{
    position: absolute;
    font: 300px;
    font-weight: bold;
    color: brown;
    margin-left: 62%;
    top :25%
}
.ma3{
    position: absolute;
    font: 300px;
    font-weight: bold;
    color: brown;
    margin-left: 42%;
    top: 50%;
}

@keyframes rotation{
    from{
        transform: rotatey(100deg);
    }
    to{
        transform: rotatey(0deg);
    }
    } 

